<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <!-- This key defines the behavoir of the assert statement and location of debug output in MONO -->
    <!-- <assert assertuienabled="false" logfilename="DebugOutput.txt"/> -->
  </system.diagnostics>
  <appSettings>

    <!-- This key allows the redirection of the settings layout file for ARMSim. -->
    <!-- Leave this key commented out to use the default location of the user app directory. -->
    <!-- <add key="LayoutFileLocation" value="h:\"></add> -->

    <!-- This key defines which window manager to use. -->
    <!-- Leave it commented out to use the Docking Windows version (usually for Windows) -->
    <!-- Uncomment it to use the static windows (usually for MONO) -->
    <add key="DockingWindowStyle" value="StaticWindows"></add>
    
  </appSettings>
</configuration>
